.ipynb_checkpoints/
data_subset
data/UCF101
data/data_subset
data/train
data/train_np*
data/test
data/test_np*
data/trained_weights
conv/data_subset
conv/hymenoptera_data/
conv/.ipynb_checkpoints/
.idea/
.DS_Store
features/__pycache__/
